/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, p, ul {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}
h2 {
    font-size: 2.3rem;
    padding-top: 2rem;
    text-align: center;
}
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

/* Hero */
nav {
    display: flex;
    justify-content: space-between;
    height: 5rem;
} 
.logo img {
    width: 8rem;
}
.hamburger-icon {
    width: 2rem;
}
.menu-items {
    display: none;
}
.show-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 4rem;
    color: #000;
    background-color: #ffffff;
    width: 100vw;
}
.show-menu li {
    font-size: 1.2rem;
    padding: 1rem 0.5rem 0.5rem;
    text-transform: uppercase;
}
.show-menu li:hover {
    background-color: #EFEDED;
}
.hero {
    background: no-repeat center url(/img/hero.jpg);
    background-size: cover;
    height: 38rem;
    width: 100vw;
}
.image-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1rem;
}
.hero h1 {
    color: #ffffff;
    font-size: 2.5rem;
    width: 8rem;
    margin-top: 5rem;
}

/* Section one */
.section-one {
    text-align: center;
}
.section-one h3 {
    margin-bottom: 0.5rem;
}
.icon-one, .icon-two, .icon-three {
    width: 5rem;
    margin: 0 1rem 1rem 0;
}

.items-container > div {
    margin: 4rem auto;
    text-align: left;
    display: flex;
    width: 15rem;
    justify-content: space-between;
   
}

/* Section two */
.section-two {
    padding: 0 1rem 1rem;
    background-color: #EFEDED;
}
.cta-container > div {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 2rem 0;
}

.cta-image {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    height: 15rem;
}
.cta-one {
    background: no-repeat center url(/img/cta1.jpg);
    background-size: cover;
    
}
.cta-two {
    background: no-repeat  url(/img/cta2.jpg);
    background-size: cover;
}
.cta-three {
    background: no-repeat center url(/img/cta3.jpg);
    background-size: cover;
}
.cta-image img {
    width: 100%;
}
.description {
    padding: 1.5rem;
}
.description p {
    margin-bottom: 0.5rem;
}
.check-box div {
    display: flex;
    align-items: center;
}
.check-icon {
    width: 1.5rem;
}
.check-box img, .check-box p {
    display: inline-block;
    margin: 0.8rem 0.8rem 0.6rem 0;
}
.cta-btn {
    background-color: #b9de24;
    width: 10rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0.6rem;
    border-radius: 4.5rem;
    align-self: center;
    margin-bottom: 2rem;
    border: none;
}
.cta-btn:hover {
    background-color: #aacc22;
}

/* Section three */
.section-three {
    text-align: center;
    padding: 0 1rem 3rem;
}
.section-three h2 {
    margin-bottom: 1rem;
}
.section-three img {
    width: 71px;
}
.quote-one {
    margin: 1rem 0 1.5rem;
}
.quote-box {
    width: 15rem;
    margin: 0 auto 3rem;
    text-align: left;
    font-size: 1.2rem;
}
.name {
    font-style: italic;
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Footer */
.footer {
    display: flex;
    padding: 2rem 1rem;
    justify-content: space-between;
    background-color: #EFEDED;
    font-size: 1.1rem;
}
.footer a {
    text-decoration: none;
    color: #000;
}
.footer ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.footer ul li {
    margin: 0.2rem;
}
.footer ul li:hover {
    color: rgb(92, 90, 90);
}
.footer > p {
    font-style: italic;
}

/* Media queries */
@media only screen and (min-width: 768px) {
    /* Hero */
   
    .hero h1 {
        margin-top: 7rem;
        font-size: 5rem;
        width: 100%;
        text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.438);
    }
    .hamburger-icon {
        display: none;
    }
    .menu-items {
        display: flex;
        color: #ffffff;
        width: 17rem;
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    .menu-items li {
        padding: 0.5rem;
    }
    .buy-button {
        border: 1px solid #ffffff;
        border-radius: 4.5rem;
    }
    .buy-button:hover {
        background-color: rgba(239, 237, 237, 0.534);
    }
    .menu-items li:hover {
        color: #000;
    }

    /* Section one */
    .items-container {
        display: flex;
        justify-content: space-around;
        padding: 0 2rem;
        text-align: center;
    }
    .items-container > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 2rem;
        margin: 2rem auto;
    }
    .icon-one, .icon-two, .icon-three {
        margin-right: 0;
    }

    /* Section two */
    .cta-container {
        display: flex;
        justify-content: space-around;
    }
    .cta-container > div {
        width: 25%;
    }

    /* Section three */
    .section-three {
        padding: 0;
    }
    .section-three img {
        width: 100px;
    }
    .quote-one {
        margin-left: 3rem;
    }
    .quote-two {
        margin-right: 3rem;
    }
    .quotes-container {
        display: flex;
        margin: 2rem 0 3rem;
    }
    .quotes-container * {
        padding: 0.5rem;
    }
    .quote-box {
        width: 17rem;
        margin: 0 auto;
    }
    /* Footer */
    .footer ul {
        width: 30%;
        justify-content: space-around;
    }
    
}